.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    margin: 0; 
}


#logo{
    transform: translate(30%, 0);
}

form {
    display: flex;
    width: 50%;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #276FBF;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #276FBF;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Inter', sans-serif;
}

.name-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name-container input {
    width: 48%; 
}

.user-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user-container input {
    width: 48%; 
}

input[type=submit] {
    width: 100%;
    background-color: #276FBF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

input[type=submit]:hover {
    background-color: grey;
}
