@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%
}

#topBar {
    position: sticky;
    top: 0;
    background-color: #CB997E;
    padding: 0.3%;
}

#logo {
    transform: translate(30%, 1.2vh);
    width: 5vw;
    height: 9vh;
}

#adminButton {
    transform: translate(30%, -2.5vh);
    background-color: #A5A58D;
    text-align: center;
    padding: 0.8%;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
}

#loginButton {
    transform: translate(625%, -2.5vh);
    background-color: #A5A58D;
    text-align: center;
    padding: 0.8%;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
}

#initials {
    display: inline-block;
    transform: translate(68vw, -1.8vh);
    padding-top: 0.8%;
    padding-bottom: 2vh;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    background-color: #A5A58D;
    text-align: center;
    border: 1px solid #000000;
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
    border-radius: 50%;
}