@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
}

#topBar {
    position: sticky;
    top: 0;
    background-color: #CB997E;
    padding: 1.5vh;
}

#logo {
    transform: translate(1vw, 1.2vh);
    width: 5vw;
    height: 9vh;
}

#adminButton {
    transform: translate(3vw, -2.5vh);
    background-color: #A5A58D;
    text-align: center;
    padding: 1.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    border: 1px solid #000000;
}